.nav {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #a7c957;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.ul {
  flex: 1;
  position: relative;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.li {
  font-size: 22px;
  font-weight: 900;
  padding: 10px 10px;
  max-width: 200px;
  transition: transform 0.2s ease-in-out;
}

.li:hover {
  cursor: pointer;
  transform: scale(1.4);
  color: white;
}

.li:active {
  transform: translateY(5px);
}
