.nav {
  background-color: #a7c957;

  box-shadow: 1px 2px 1px rgba(0, 0, 0, .5);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav li {
  font-size: 22px;
  font-weight: 900;
  padding: 10px 10px;
  max-width: 200px;
  transition: transform .2s ease-in-out;
}


.nav li:hover {
  cursor: pointer;
  transform: scale(1.4);
  color: white;
}

.nav li:active {
  transform: translateY(5px);
}

